header {
    background-color: #222222;
}

.homeScreenLink {
    background: no-repeat url("./images/logo.png");
    background-size: contain;
    height: 90px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;

}